header{
    background-image: url(images/DearDrinkingSundownLake.jpg);
    opacity: 85%;
    background-size: cover;
    font-size: 90px;
    color: blue;
    text-align: center;
   
}
section{
    font-size: 45px;
}
div{
    display: inline-flex;
}
@media all  and (max-width: 600px) {
    
}
body{
    overflow: scroll;
}